@font-face {
    font-family: 'Coolvetica'; /*a name to be used later*/
    src: url('assets/coolvetica rg.otf'); /*URL to font*/
}


* {
	font-family: Coolvetica;
}

.center 
{
	margin-left: auto;
	margin-right: auto;
}

#testing {
	text-align: left;
}

#titles {
	text-align: center;
}

/* NAVBAR STYLING */

#navbar {
	background: rgb(88,44,44);
	background: linear-gradient(0deg, rgba(88,44,44,1) 0%, rgba(147,80,81,1) 69%);
	padding: 1%;
}

#navspan {
	font-size: 50px;
}

#selections {
	margin: 3%;
}

table, th, td {
	/*border: 5px solid black;   FOR DEBUGGING*/
	padding: 10px;
	text-align: center;
	border-collapse: collapse;
}

body {
	background: rgb(199,169,165);
	background: linear-gradient(90deg, rgba(199,169,165,1) 0%, rgba(244,219,216,1) 50%, rgba(199,169,165,1) 100%);
}

h1 {
	color: white;
	text-align: center;
	font-size: 50px;
}

p {
	font-size: 20px;
}

/* Link stuffs */
a:link {
	color: white;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: white;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: brown;
	background-color: transparent;
}

a:active {
	color: white;
	background-color: transparent;
	text-decoration: underline;
}
