@font-face {
    font-family: 'Coolvetica'; /*a name to be used later*/
    src: url('assets/coolvetica rg.otf'); /*URL to font*/
}


* {
	font-family: Coolvetica;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background: rgb(241,218,219);
  }

  #container {
	margin:  auto;
	width: 80%;
	background-color: transparent;  /* Make container background transparent */
  }

  header {
	background: linear-gradient(
        to top, 
        rgb(105, 46, 48) 0%, 
        rgba(150, 84, 86, 1) 100%
    );
	color: white;
	text-align: center;
	padding: 1em;
	border-radius: 25px;
	margin-top: 10px;  /* Adds 20px of space above #content */
  }

  #header-image {
	vertical-align: middle;
	margin-right: 10px;
	width: 10em;  /* Set width to be 3 times the font size */
	height: auto;  /* Maintain aspect ratio */
  }
  
  footer {
	background: linear-gradient(
        to top, 
        rgb(105, 46, 48) 0%, 
        rgba(150, 84, 86, 1) 100%
    );
	color: white;
	text-align: center;
	padding: 1px;
	border-radius: 25px;
	margin-top: 10px;  /* Adds 20px of space above #content */
	margin-bottom: 10px;  /* Adds 20px of space above #content */
  }

  #content {
	background-color: rgb(255, 255, 255);
	color: black;

	padding: 1em;
	margin-left: 5%;
	margin-right: 5%;
	border-radius: 25px;

	margin-top: 10px;  /* Adds 20px of space above #content */
  }

  #navbar {
	overflow: hidden;
  }

  /* NAVBAR STYLIN' */
  
  #navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
  }
  
  #navbar ul li {
	display: inline;  /* Makes the list items inline */
  }
  
  #navbar ul li a {
	display: inline-block;  /* Fixes the block display */
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  #navbar ul li a:hover {
	background-color: rgba(138,77,84,255);
	color: white;
	border-radius: 20px;
  }
  