@font-face {
    font-family: 'Coolvetica'; /*a name to be used later*/
    src: url('assets/coolvetica rg.otf'); /*URL to font*/
}


* {
	font-family: Coolvetica;
}

p {
	margin-left: 1%;
	margin-right: 1%;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background: rgb(241,218,219);

	background-image: url('images/art/testpaper.png');
    background-repeat: repeat; /* Repeat the image */
  }

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/art/testpaper.png');
    background-repeat: repeat; /* Repeat the image */
    mix-blend-mode: multiply; /* Multiply blend mode */
    pointer-events: none; /* Ensure the div doesn't interfere with user interactions */
}

  #container {
	margin:  auto;
	width: 80%;
	background-color: transparent;  /* Make container background transparent */
  }

  header {
	color: white;

	box-shadow: inset 0 0 4px #3a0000;

	background: 
    linear-gradient(
        to bottom, 
        rgba(255, 255, 255, 0) 0%, 
        rgba(255, 255, 255, 0.3) 5%, 
        rgba(255, 255, 255, 0) 10%
    ),
    linear-gradient(
        rgba(255, 170, 170, 0.7) 0%, 
        rgba(150, 84, 86, 0.7) 50%
    ),
    linear-gradient(
        to top, 
        rgba(120, 54, 56, 1) 50%, 
        rgba(150, 84, 86, 1) 100%
    );



	
	text-align: center;
	padding: 1em;
	border-radius: 25px;
	margin: 10px;  /* Adds space around #content */
  }

  #header-image {
	vertical-align: middle;
	margin: 10px;
	width: 10em;  /* Set width to be 3 times the font size */
	height: auto;  /* Maintain aspect ratio */
  }
  
  footer {
	box-shadow: inset 0 0 4px #3a0000;

	/* 2010 Glossy effect */
	background: linear-gradient(
        rgba(255, 170, 170, 0.7) 0%, 
        rgba(150, 84, 86, 0.7) 50%
    ),
    linear-gradient(
        to top, 
        rgba(120, 54, 56, 1) 50%, 
        rgba(150, 84, 86, 1) 100%
    );

	/* Font engrave effect */
	color: #ffffff;
    text-shadow: 1px 1px 0 #732a2a, -1px -1px 0 #944141;
    font-size: 15px;

	text-align: center;
	padding: 1px;
	border-radius: 25px;
	margin-top: 10px;  /* Adds 20px of space above #content */
	margin-bottom: 10px;  /* Adds 20px of space above #content */
  }

/* TAB STYLIN' */
#tabs {
	margin-top: 20px;
    margin-left: 3%; /* Aligning with the left side of the content div */
    width: auto; /* Resetting the width */
    margin-bottom: -15px;
}

#tabs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: transparent; /* Removing the background color */
    display: inline-block; /* Aligning to the left */
}

#tabs ul li {
    float: left;
    margin-right: 2px; /* Adding a slight margin between tabs */
}

#tabs ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    text-shadow: 1px 1px 0 #732a2a, -1px -1px 0 #944141;
    font-size: 1em;
    font-weight: bold;

	/* Glossy effect */
	box-shadow: inset 0 0 2px #3a0000;
	background: 
    linear-gradient(
        to bottom, 
        rgba(255, 255, 255, 0) 0%, 
        rgba(255, 255, 255, 0.1) 13%, 
        rgba(255, 255, 255, 0) 15%
    ),
    linear-gradient(
        rgba(255, 170, 170, 0.7) 0%, 
        rgba(150, 84, 86, 0.7) 50%
    ),
    linear-gradient(
        to top, 
        rgba(120, 54, 56, 1) 50%, 
        rgba(150, 84, 86, 1) 100%
    );
	
    border-radius: 15px 15px 0 0; /* Rounded corners on the top side only */
    margin: 0 -1px; /* Spacing out the tabs */
}

#tabs ul li a:hover {
    background: 
	linear-gradient(
        to top, 
        rgb(94, 36, 37) 50%, 
        rgb(200, 124, 126) 100%
    );
    color: white;
    text-shadow: none;
}

#tabs ul li:last-child {
    margin-right: 0; /* Removes margin for the last tab */
}

#tabs ul li a.active {
    background: 
	linear-gradient(
        to top, 
        rgb(94, 36, 37) 50%, 
        rgb(200, 124, 126) 100%
    );
    color: white;
    text-shadow: none;

	margin-right: -2px; /* Fixes gap for some reason? */

	padding-top: 20px;
	transform: translateY(-10px);
}


#social-media-list {
    list-style-type: none;
    
    padding: 0;
    margin: 0;
}
#social-media-list li {

    display: inline-block; /* Aligning to the left */

    margin-bottom: 30px;  /* Adjust this value to change spacing between links */
    margin-left: 10px;
}

#social-media-list a {
    border-radius: 15px;
    padding: 10px;
	/* Glossy effect */
	box-shadow: inset 0 0 2px #3a0000;
	background: 
    linear-gradient(
        to bottom, 
        rgba(255, 255, 255, 0) 0%, 
        rgba(255, 255, 255, 0.1) 13%, 
        rgba(255, 255, 255, 0) 15%
    ),
    linear-gradient(
        rgba(255, 170, 170, 0.7) 0%, 
        rgba(150, 84, 86, 0.7) 50%
    ),
    linear-gradient(
        to top, 
        rgba(120, 54, 56, 1) 50%, 
        rgba(150, 84, 86, 1) 100%
    );
    text-decoration: none;
    color: #ffffff;  
}
#social-media-list a:hover {
    background: 
	linear-gradient(
        to top, 
        rgb(94, 36, 37) 50%, 
        rgb(200, 124, 126) 100%
    );
    color: white;
    text-shadow: none;
}


#content {
	box-shadow: inset 0 0 3px #6f6f6f;
	background-color: rgb(255, 255, 255);
	color: black;

	padding: 1em;
	margin-left: 3%;
	margin-right: 3%;
	border-radius: 0px 25px 25px 25px;
}

#tos
{
    padding: 1em;
    background-color: rgb(255, 236, 201);
    border-radius: 25px;

    
}